streamlit
langchain
python-dotenv
langchain_community
chromadb
streamlit_js_eval
requests
PyPDF2
openai
langchain_openai
pypdf
huggingface_hub
bs4
unstructured
youtube-transcript-api
pytube
unstructured[all-docs]